h1 {
    font-family: 'Open Sans', sans-serif;
    color:#525252;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color:#525252;
}

.container {
    width: 20%;
    height: auto;
    margin: 0 auto;
    padding: 20px 10px;
    horiz-align: center;
    background-color: white;
    text-align: center;
    border: 1px solid #C0C0C0;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 2px solid #222222;
}

.info_box {
    z-index: 0;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: white;
    border: 1px solid #C0C0C0;
    position: absolute;
    border-radius: 8px;
    border: 2px solid #222222;
}

.background {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

body {
    background-color: white;
}

.input {
    font-size: 1.3vw;
    font-family: 'Open Sans', sans-serif;
}

.button_sign_in {
    text-align: center;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #505050;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #909090;;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.input_text {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    width: auto;
}

/* The navigation bar */
.navbar {
  z-index: 1;
  position:absolute
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 70px;
  background-color: white;
}

/* Links inside the navbar */
.navbar a {
  top: 10px;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 40px; /* Add a top margin to avoid content overlay */
}

.sport_type {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 14px;
    margin-top: 5px;
}

/* Start rating*/
.rating {
    width: 200px;
    unicode-bidi: bidi-override;
    font-size: 30px;
    direction: rtl;
    text-align: center;
}

.rating > label {
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}
